*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(108px, 1fr));
    column-gap: 17px;
    row-gap:  10px;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
@media (min-width:400px){
    .container {
        grid-template-columns: repeat(3, minmax(54px, 1fr));
        column-gap: 17px;
        row-gap:  10px;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }
}
@media (max-width:220px){
    .container {
        grid-template-columns: repeat(1, minmax(54px, 1fr));
        column-gap: 17px;
        row-gap:  10px;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }
}
.showcaseContainer{
    display: grid;
    grid-template-columns: 108px;
}
.showcaseCountProduct{
    display: grid;
    justify-content: center;
    align-items: center;
}
.showcaseImageProduct{
    display: grid;
    justify-content: center;
    align-items: center;
}
.showcaseNameProduct{
    font-family: Fulbo Argenta;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
}
.usercard{
    color:white;
    height: 20px;
    weight: 20px;
    font-weight: 10px;
    font-family: Helvetica;
}

p {
    color:white;
    height: 20px;
    weight: 20px;
    font-weight: 10px;
    font-family: Helvetica;
    bottom: 20px;
}
.item {
    display: grid;
    justify-content: center;
    align-items: center;
    height:150px;
    weighg:200px;
}


/*span {
    display:flex;
    height: 20px;
    weight: 20px;
    justify-content: center;
    align-items: center;
}*/